
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title><%- data.header.index.title %></title>
    <meta name="description" content="<%- data.header.index.description %>">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- data.header.index.title %>">
    <meta property="og:description" content="<%- data.header.index.description %>">
    <meta property="og:site_name" content="<%- data.header.index.title %>">
    <meta property="og:image" content="<%- data.header.index.imgSrc %>/common/ogp.jpg">
    <link rel="shortcut icon" href="<%- data.header.index.imgSrc %>/favicon.ico" >
    <link rel="apple-touch-icon" href="<%- data.header.index.imgSrc %>/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="<%- data.header.index.cssSrc %>/slick.css">
    <link rel="stylesheet" type="text/css" href="<%- data.header.index.cssSrc %>/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="<%- data.header.index.cssSrc %>/style.css">
    <!-- JSON-LD -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "ミヤケ",
    "jobTitle": "Front-end Engineer",
    "url": "https://miyakehiro.github.io/portfolio/dist/",
    "sameAs": [
        "https://github.com/miyakehiro/portfolio"
    ],
    "knowsAbout": ["HTML5", "CSS3", "JavaScript", "React", "WordPress", "Astro"],
    "description": "京都を拠点に活動するコーダー・フロントエンドエンジニア。フロントエンド開発を得意としています。"
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="<%- data.footer.jsSrc %>/common.min.js" defer></script>
    <script src="<%- data.footer.jsSrc %>/works.min.js" defer></script>
    <script src="<%- data.footer.jsSrc %>/slick.min.js" defer></script>
</head>
<body id="<%- data.header.index.slug %>" class="js-anime">
    <div class="js-media-query u-media-query"></div>
    <div class="js-nav-overlay nav-overlay"></div>
    <div class="l-wrapper">
        <header class="js-header l-header">
            <div class="hd-info">
                <div class="hd-info-inner">
                    <div class="hd-info__logo js-logo">
                        <a href="/portfolio/dist/" class="hd-info_logo-link u-alpha"><%- data.header.index.title %></a>
                    </div>
                    <button class="js-nav-btn nav-btn" aria-label="メニューを開閉する" aria-expanded="false">
                        <span class="nav-btn__line"></span>
                        <span class="nav-btn__line"></span>
                        <span class="nav-btn__line"></span>
                    </button>
                    <nav class="js-nav-content l-nav animated-nav">
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#about">ABOUT</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#profile">PROFILE</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#works">WORKS</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#skill">SKILL</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="l-main-img">
            <picture>
                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/img_main01.webp" type="image/webp">
                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/img_main01.png" alt="<%- data.header.index.title %>" fetchpriority="high">
            </picture>
            <div class="l-main-img-inner">
                <h1 class="main-txt"><%- data.header.index.title %></h1>
            </div>
		</div>