<%-
  include('inc/_header', {header: data.header.index});
%>
<div class="l-contents">
    <main role="main">
        <section id="about" class="home-about sec js-anime-elem">
            <div class="home-about__inner u-inner">
                <div class="c-tit01">
                    <h2 class="tit c-tit01__en">ABOUT</h2>  
                    <p class="tit__ja c-tit01__ja">サイトについて</p>
                </div>
                <p class="txt">このサイトは、エンジニア 三宅のポートフォリオサイトです。<br>これまで手掛けたwebサイト、自身のスキル・経歴をまとめています。<br>このサイトはエンジニアとしての私を知ってもらうために作りました。<br>このサイトで使用ツールは下記表にまとめています。</p> 
            </div>
        </section>
        <section id="profile" class="home-profile sec js-anime-elem">
            <div class="home-profile__inner u-inner">
                <div class="c-tit01">
                    <h2 class="tit c-tit01__en">PROFILE</h2>  
                    <p class="tit__ja c-tit01__ja">自己紹介</p>
                </div>
                <div class="home-profile__box">
                    <picture class="img">
                        <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/img_profile01.webp" type="image/webp">
                        <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/img_profile01.png" alt="">
                    </picture>
                    <p class="txt">京都出身のエンジニアです。大学卒業、ホームセンターの販売員を早期に退職したのちに<br>職業訓練でwebデザインの基礎を学び、コーディングを主にし、コーダー・フロントエンドエンジニアとして多くのwebサイト製作に携わってきました。</p>
                </div>
                
            </div>
        </section>
        <section id="works" class="home-works sec js-anime-elem">
            <div class="home-works__inner u-inner">
                <div class="c-tit01">
                    <h2 class="tit c-tit01__en">WORKS</h2>  
                    <p class="tit__ja c-tit01__ja">これまでの仕事</p>
                </div>
                <p class="home-works__lead">これまで各制作会社で携わってきた仕事の一部を掲載しています。<br />
                掲載している仕事にはそれぞれアイコンが付いており、その仕事でどのような作業を担当していたかを簡単に示しています。<br /><span class="ico create">製作</span>のアイコンは新規サイト製作、リニューアル、LPページなどの特定のページ製作などを担当。<br /><span class="ico update">管理</span>はページの更新・変更・修正などを担当。<br /><span class="note">M-HAND、ノース・ヒル、ekzmは更新などの業務だけをしてたサイトが多すぎるために掲載していません。</span></p>
                <div class="home-works__box">
                    <div class="tab-scroll">
                        <ul class="tab-list">
                            <li class="js-switch-tab tab-list-item is-active">weave</li>
                            <li class="js-switch-tab tab-list-item">M-HAND</li>
                            <li class="js-switch-tab tab-list-item">システムクリエイト</li>
                            <li class="js-switch-tab tab-list-item">ノース・ヒル</li>
                            <li class="js-switch-tab tab-list-item">ekzm</li>
                        </ul>

                    </div>
                    <div class="list-box js-switch-content is-active">
                        <p class="lead">初めて就職したweb製作会社で、アルバイトとして入社しました。最初は、簡単なページの更新や修正、バナーの作成などの仕事を担当。<br />実務を通してweb製作について学びました。正社員になってからはコーディングを中心にいくつかのwebサイトの管理を任され、更新・修正・ページの追加、LPページ制作などをしていました。<br />下記に表示している製作事例はweaveで製作LPページ、ページを追加したサイト、更新などの管理をしていたサイトとなっています。<br />デザイナーのデザインをもとにコーディングを担当していました。</p>
                        <ul id="js-works01" class="list text-list">
                        </ul>
                    </div>
                    <div class="list-box js-switch-content">
                        <p class="lead">M-HANDでは主にサイト製作やサイトのリニューアルといった業務が多く、大規模サイトの製作やリニューアルなどの下層ページの製作を担当したり、中には小規模サイトのコーディングをメインで担当したこともあります。<br />M-HANDでの製作は最初に静的サイトを作り、動的サイトにするためにWordpressを導入するというのが主な製作の流れとなっており、一からサイトを製作する知識・技術・ノウハウだけでなく、Wordpressの使い方なども学ぶことが出来ました。<br />下記に表示している製作事例はM-HANDで製作したサイト・LPページ、ページを追加したサイトとなっています。<br />デザイナーのデザインをもとにコーディングを担当していました。</p>
                        <ul id="js-works02" class="list text-list">
                        </ul>
                    </div>
                    <div class="list-box js-switch-content">
                        <p class="lead">システムクリエイトでは、webサイト製作のコーディング・管理を独りで担っていました。<br />M-HANDで培った知識・技術・ノウハウを活かして、デザイナーが作ったデザインをもとにサイト製作しており、その際、ドメインの発行やSSLの設定などのドメイン・サーバーの管理やSEO対策も行っていました。<br />システムクリエイトではサイトを作る上での知識などがほとんどなかったので、サーバー管理やSEO対策などは業務を通して、調べたりして独学で学んでいきました。<br />下記に表示している製作事例はシステムクリエイトで製作したサイトとなっており、デザイナーのデザインをもとにコーディングをしています。
                        </p>
                        <ul id="js-works03" class="list js-slider">
                        </ul>
                    </div>
                    <div class="list-box js-switch-content">
                        <p class="lead">ノース・ヒルでは、主に既存サイトの更新・管理業務を担当しており、これまでの経歴と技術から小規模サイトの製作やページ追加の業務もしていました。<br />下記に表示している製作事例はノース・ヒルで製作したサイト・LPページ、ページを追加したサイトとなっています。<br />デザイナーのデザインをもとにコーディングを担当していました。
                        </p>
                        <ul id="js-works04" class="list js-slider">
                        </ul>
                    </div>
                    <div class="list-box js-switch-content">
                        <p class="lead">ekzmでは、主に既存サイトの更新・管理業務を担当する部署に配属されていたのですが、これまでの経歴と技術から日々の更新業務に加えて、小規模サイトの製作やLPページ製作などの製作の業務を優先的に任されていました。<br />ekzmではgitやタスクランナー、reactなどのライブラリを業務の効率化のために積極的に取り入れていたので、その知識・技術・ノウハウを学ぶことができました。<br />下記に表示している製作事例はekzmで製作したサイト・LPページとなっています。<br />デザイナーのデザインをもとにコーディングを担当していました。
                        </p>
                        <ul id="js-works05" class="list js-slider">
                        </ul>
                    </div>
                </div>            
            </div>
        </section>
        <section id="skill" class="home-skill sec js-anime-elem">
            <div class="home-skill__inner u-inner">
                <div class="c-tit01">
                    <h2 class="tit c-tit01__en">SKILL</h2>  
                    <p class="tit__ja c-tit01__ja">保有スキル</p>
                </div>
                <div class="home-skill__box">
                    <ul class="list">
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill01.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill01.png" alt="Illustrator">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">Illustrator</h3>
                                <p class="txt">基本的な操作が可能。<br>Illustratorで作成されたwebデザインから画像等を切り出したりしてwebサイトを製作することができます。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill02.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill02.png" alt="Photoshop">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">Photoshop</h3>
                                <p class="txt">基本的な操作が可能。<br>Photoshopで作成されたwebデザインから画像を加工したり、切り出したりしてwebサイトを製作することができます。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill03.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill03.png" alt="XD">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">XD</h3>
                                <p class="txt">基本的な操作が可能。<br>XDで作成されたwebデザインから画像を加工したり、切り出したりしてwebサイトを製作することができます。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill04.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill04.png" alt="DreamWeaver">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">DreamWeaver</h3>
                                <p class="txt">基本的な操作が可能。<br>エディターは主にvs code(Visual Studio Code)を使用しています。DreamWeaverでは、エクセルからHTMLで表を作成する際や画像にリンクを配置するクリッカブルマップの際に使用します。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill05.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill05.png" alt="Visual Studio Code">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">Visual Studio Code</h3>
                                <p class="txt">エメットやスニペットを使用して常に速さと正確さを追及してコーディングするように心掛けています。便利なプラグインがあれば、積極的に使用しています。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill06.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill06.png" alt="HTML5">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">HTML5</h3>
                                <p class="txt">W3Cの規定している記述でマークアップが可能です。またSEOに配慮し、インデントなどが整った見やすいコーディングに心掛けています。コーディングチェックに関しては専用のツールを使用。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill07.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill07.png" alt="CSS3">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">CSS3</h3>
                                <p class="txt">スタイルタグは問題なく、使用できます。デザイン通りに製作できますが、ユーザーが見やすよう、使いやすようにするために提案などして変更することもあります。また他の人が見てすぐ分かるようにクラス名、id名など一定の規則性を持たせて製作しています。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill08.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill08.png" alt="JavaScript">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">JavaScript</h3>
                                <p class="txt">まだまだ勉強が必要で一から製作するのは、まだ難しいですが既存のファイルを変更したり、改造することは可能です。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill09.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill09.png" alt="Sass">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">Sass</h3>
                                <p class="txt">SCSSで製作したファイルをコンパイルしてCSSを圧縮した状態で生成する方法を主に取っています。SCSSのファイル構成はそれぞれのフォルダに格納してインポートして1つのファイルにするようにしています。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill10.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill10.png" alt="jQuery">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">jQuery</h3>
                                <p class="txt">slickやlightboxなど、既に製作されているモノなら、埋め込みや変更することが可能です。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill11.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill11.png" alt="gulp.js">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">gulp.js</h3>
                                <p class="txt">SCSSからCSS、ejsからHTMLにコンパイルしたり、jsや画像ファイル圧縮してファイルサイズを軽くすることを主に使用しています。バージョンに関してはnvmで管理しています。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill12.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill12.png" alt="SEO">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">SEO</h3>
                                <p class="txt">タイトル、ディレクション、キーワード、altタグ等の基本的なSEOに加えて、構造化マークアップ、Google Analyticsやサーチコンソールの登録、使用経験があります。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill13.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill13.png" alt="WordPress">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">WordPress</h3>
                                <p class="txt">サーバーにWordPressをインストールしたり、基本的な操作は可能です。WordPressのPHPも少し触ることが出来、投稿やカスタム投稿の表示や変更なども可能。WordPress使ったサイトも多数製作しました。</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <picture class="img">
                                <source srcset="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill14.webp" type="image/webp">
                                <img src="<%- data.header.index.imgSrc %>/<%- data.header.index.slug %>/ico_skill14.png" alt="Git">
                            </picture>
                            <div class="txt-box">
                                <h3 class="sub-tit">Git</h3>
                                <p class="txt">複数メンバーでwebサイト製作する際に使用した経験があります。自身でもアカウント作り、勉強中です。このポートフォリオサイトはGitで管理しています。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="contact" class="home-contact sec js-anime-elem">
            <div class="home-contact__inner u-inner">
                <div class="c-tit01">
                    <h2 class="tit c-tit01__en">CONTACT</h2>  
                    <p class="tit__ja c-tit01__ja">お問い合わせ</p>
                </div>
                <div class="home-contact__box c-form01">
                    <table class="table c-form01__table">
                        <tbody>
                            <tr>
                                <th>お名前<span class="require">必須</span></th>
                                <td>
                                    <input type="text" name="お名前" id="name" value="" maxlength="255" class="text" placeholder="お名前を入力してください。" />
                                </td>
                            </tr>
                            <tr>
                                <th>フリガナ<span class="require">必須</span></th>
                                <td>
                                    <input type="text" name="フリガナ" id="kana" value="" maxlength="255" class="text" placeholder="フリガナを入力してください。" />
                                </td>
                            </tr>
                            <tr class="zip">
                                <th>〒</th>
                                <td>
                                    <input type="text" name="郵便番号" id="zip" value="" maxlength="255" class="text" placeholder="" />
                                </td>
                            </tr>
                            <tr class="address">
                                <th>住所</th>
                                <td>
                                    <div>
                                        <p>都道府県</p>
                                        <select name="都道府県" id="address1" class="select">
                                            <option value="">選択</option>
                                            <option value="北海道">北海道</option>
                                            <option value="青森県">青森県</option>
                                            <option value="岩手県">岩手県</option>
                                            <option value="宮城県">宮城県</option>
                                            <option value="秋田県">秋田県</option>
                                            <option value="山形県">山形県</option>
                                            <option value="福島県">福島県</option>
                                            <option value="茨城県">茨城県</option>
                                            <option value="栃木県">栃木県</option>
                                            <option value="群馬県">群馬県</option>
                                            <option value="埼玉県">埼玉県</option>
                                            <option value="千葉県">千葉県</option>
                                            <option value="東京都">東京都</option>
                                            <option value="神奈川県">神奈川県</option>
                                            <option value="新潟県">新潟県</option>
                                            <option value="富山県">富山県</option>
                                            <option value="石川県">石川県</option>
                                            <option value="福井県">福井県</option>
                                            <option value="山梨県">山梨県</option>
                                            <option value="長野県">長野県</option>
                                            <option value="岐阜県">岐阜県</option>
                                            <option value="静岡県">静岡県</option>
                                            <option value="愛知県">愛知県</option>
                                            <option value="三重県">三重県</option>
                                            <option value="滋賀県">滋賀県</option>
                                            <option value="京都府">京都府</option>
                                            <option value="大阪府">大阪府</option>
                                            <option value="兵庫県">兵庫県</option>
                                            <option value="奈良県">奈良県</option>
                                            <option value="和歌山県">和歌山県</option>
                                            <option value="鳥取県">鳥取県</option>
                                            <option value="島根県">島根県</option>
                                            <option value="岡山県">岡山県</option>
                                            <option value="広島県">広島県</option>
                                            <option value="山口県">山口県</option>
                                            <option value="徳島県">徳島県</option>
                                            <option value="香川県">香川県</option>
                                            <option value="愛媛県">愛媛県</option>
                                            <option value="高知県">高知県</option>
                                            <option value="福岡県">福岡県</option>
                                            <option value="佐賀県">佐賀県</option>
                                            <option value="長崎県">長崎県</option>
                                            <option value="熊本県">熊本県</option>
                                            <option value="大分県">大分県</option>
                                            <option value="宮崎県">宮崎県</option>
                                            <option value="鹿児島県">鹿児島県</option>
                                            <option value="沖縄県">沖縄県</option>
                                        </select>
                                    </div>
                                    <div>
                                        <p>市区町村</p>
                                        <input type="text" name="市区町村" id="address2" value="" maxlength="255" class="text" placeholder="市区町村を入力してください。" />
                                    </div>
                                    <div>
                                        <p>番地など</p>
                                        <input type="text" name="建物名、お部屋番号" id="address4" value="" maxlength="255" class="text" placeholder="建物名、お部屋番号などを入力してください。" />

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>メールアドレス<span class="require">必須</span></th>
                                <td>
                                <input type="text" name="メールアドレス" id="mailaddress" value="" maxlength="255" class="text" placeholder="メールアドレスを入力してください。" />
                                </td>
                            </tr>
                            <tr>
                                <th>メールアドレス（確認用）<span class="require">必須</span></th>
                                <td>
                                <input type="text" name="メールアドレス（確認用）" id="mailaddress2" value="" maxlength="255" class="text" placeholder="確認のため、メールアドレスを再度入力してください。" />
                                </td>
                            </tr>
                            <tr>
                                <th>内容</th>
                                <td>
                                    <textarea name="お問い合わせ内容" id="inquiry" rows="5" class="textarea" placeholder="お問い合わせ内容を入力してください。"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>
 
<%-
  include('inc/_footer', {footer: data.footer});
%>




